Source: python3-k8sapp-oran-o2
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-pbr,
 python3-setuptools,
 python3-wheel,
 build-info
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: python3-k8sapp-oran-o2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}
Description: StarlingX Sysinv ORAN O2 Extension
 This package contains the ORAN O2 K8S app.

Package: python3-k8sapp-oran-o2-wheels
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, python3-wheel
Description: StarlingX Sysinv ORAN O2 Extension Wheels
 This package contains python wheels for the ORAN O2
 K8S app plugins.
